<p-messages [(value)]="msgs"></p-messages>

<p-confirmDialog
    acceptLabel="OK"
    [closable]="false"
    [style]="{ width: '50vw' }"
></p-confirmDialog>

<div class="top-wrapper">
    <div class="p-grid">
        <div class="p-col-12 p-md-6">
            <h1>
                {{
                    element.uuid
                        ? ('common.edit' | translate)
                        : ('common.create' | translate)
                }}
                {{ 'users.visitors' | translate }}
            </h1>
        </div>
        <div class="p-col-12 p-md-6">
            <button
                pButton
                type="button"
                class="p-button-secondary pull-right"
                icon="fa fa-save"
                [pTooltip]="'common.save' | translate"
                (click)="save()"
                [disabled]="!registerForm.valid"
                *ngIf="!element.uuid"
            ></button>
            <button
                pButton
                type="button"
                class="p-button-secondary pull-right"
                icon="fa fa-save"
                [pTooltip]="'common.update' | translate"
                (click)="update()"
                [disabled]="!registerForm.valid"
                *ngIf="element.uuid"
            ></button>
            <button
                pButton
                type="button"
                class="p-button-tertiary pull-right"
                icon="fa fa-trash"
                [pTooltip]="'common.delete' | translate"
                [pTooltip]="'common.delete' | translate"
                tooltipPosition="top"
                (click)="delete()"
                *ngIf="element.uuid"
            ></button>
            <button
                pButton
                type="button"
                class="p-button-primary pull-right"
                icon="fa fa-window-close"
                [label]="'common.cancel' | translate"
                tooltipPosition="top"
                (click)="goToList()"
            ></button>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="p-grid">
        <div class="p-col-12">
            <form [formGroup]="registerForm">
                <p-card>
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="form-group p-grid"
                                style="align-items: center">
                                <div class="p-col-3">
                                    {{ 'users.name' | translate }} (*)
                                </div>

                                <div class="p-col-9">
                                    <input
                                        [(ngModel)]="element.name"
                                        formControlName="name"
                                        name="name"
                                        pInputText
                                        [placeholder]="
                                            'users.name' | translate | lowercase
                                        "
                                        type="text"
                                    />
                                </div>
                            </div>

                            <div class="form-group p-grid"
                                style="align-items: center">
                                <div class="p-col-3">
                                    {{
                                        'visitors.list.vat-number' | translate
                                    }}
                                    (*)
                                </div>

                                <div class="p-col-9">
                                    <input
                                        [(ngModel)]="element.vatnumber"
                                        formControlName="vatnumber"
                                        name="vatnumber"
                                        pInputText
                                        [placeholder]="
                                            'visitors.vat-number'
                                                | translate
                                                | lowercase
                                        "
                                        placeholder="vatnumber"
                                        type="text"
                                    />
                                </div>
                            </div>

                            <div class="form-group p-grid"
                                style="align-items: center">
                                <div class="p-col-3">
                                    <!-- {{
                                        'visitors.list.vat-number' | translate
                                    }} -->
                                    Webhook Url (*)
                                </div>

                                <div class="p-col-9">
                                    <input
                                        [(ngModel)]="element.webhook_link"
                                        formControlName="webhook_link"
                                        name="webhook_link"
                                        pInputText
                                        placeholder="webhook url"
                                        type="text"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </p-card>
            </form>
        </div>
    </div>
</div>
